input {
	height: 40px;
	width: 300px;
	border-radius: 4px;
	border: 1px solid #777777;
}

button {
	height: 40px;
	border-radius: 4px;
	padding: 2rem 1rem;
	background-color: #000000;
	color: #FFFFFF;
}
